@model IEnumerable<ContSelf.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}
<h1>Busca</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Data de Nascimento
                </th>
                <th>
                    Salário
                </th>
                <th>
                    Atividade
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

               
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodFuncionario)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AtividadeExibicao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CodFuncionario">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.CodFuncionario">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.CodFuncionario">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
