@model IEnumerable<ContSelf.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<p>
<a asp-action="">Buscar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atividade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atividade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodFuncionario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodFuncionario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodFuncionario">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>
